@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


		/*HEADER*/


.tphd{
	margin-top: 10px;
}

.tphd .pghd{
	padding-top: 6px;
}

.tphd .pghd h4{
	font-family: 'Berkshire Swash', cursive;
}

.tphd .pghd h4 span{
	border-top: 5px solid #c89601;
	border-left: 5px solid #c89601;
	padding: 2px;
}

.tphd .cont-form{}

.tphd .cont-form ul{
	display: inline-flex;
	align-items: center;
	padding-left: 0px
}

.tphd .cont-form ul li{
	display: inline-flex;
	align-items: center;
	padding: 6px 27px;
}

.tphd .cont-form .cont-txt{
	padding-left: 15px;
}

.tphd .cont-form .cont-txt p{
	color: #666666;
	margin: 0px;
}

.tphd .cont-form .cont-txt h5{
	font-weight: bold;
	margin: 0px;
}

.tphd .sch{}

.tphd .sch .btn{
	background-color: #c89601;
	color: white;
	padding: 15px 30px;
	border-radius: 25px;
	border: none;
}

.tphd .sch .btn1{
	background-color: #5c89bc;
	color: white;
	padding: 13px 17px;
	border-radius: 50px;
	border: none;
}

.tphd .sch .btn1 i{}


		/*HEADER-2*/


.navigation{
	margin-top: 10px;
}

.navigation .topnav{
	background-color: #5c89bc;
	text-align: center;
}

.navigation .topnav{
	padding: 10px 0px;
}

.navigation .topnav a{
	color: white;
	font-size: 15px;
	padding-right: 60px;
}

.navigation .topnav a.active{}

.navigation .topnav .icongap{
	color: white;
	font-size: 15px;
	padding-right: 40px;
}


		/*BANNER*/


.banner{
	margin-bottom: 60px;
	background: url(../images/cover4.png);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 650px;
}

.banner .heading{
	margin-top: 106px;
}

.banner .heading h3{
	font-size: 30px;
	font-family: "Poppins";
	font-weight: bold;
	color: #666666;
}

.banner .heading h1{
	font-weight: bold;
	font-size: 76px;
	font-family: 'Berkshire Swash', cursive;
}

.banner .heading h2{
	font-weight: bold;
	font-size: 116px;
	font-family: "Poppins";
}


		/*ABOUT US*/


.abtus{
	margin: 30px 0px;
}

.abtus .dotss{
	border: 2.5px dashed black;
	padding: 15px;
}

.abtus .dotss ul{
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	align-items: center;
}

.abtus .dotss ul li{
	display: inline-block;
}

.abtus .dotss ul li img{}

.abtus .dotss .abtustxt{
	padding-left: 20px;
}

.abtus .dotss .abtustxt h5{
	font-family: "Poppins";
	font-size: 20px;
	font-weight: bold;
}

.abtus .dotss .abtustxt p{
	font-family: "Poppins";
}


		/*STORY*/


.story{
	margin: 30px 0px;
}

.story .storybkg{
	background-color: #fcf4e3;
	padding: 15px 0px;
} 

.story .storybkg .leftimg{}

.story .storybkg .leftimg img{
	width: 100%;
	height: auto;
}

.story .storybkg .righttxt{}

.story .storybkg .righttxt h1{
	font-family: "Poppins";
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 30px;
}

.story .storybkg .righttxt p{
	margin-bottom: 30px;
}

.story .storybkg .righttxt .storybdr{
	border: none;
	text-align: center;
	margin-top: 30px;
}

.story .storybkg .righttxt .storybdr h3{
	font-weight: bold;
	margin-top: 0px;
}

.story .storybkg .righttxt .storybdr p{
	color: #848482;
}


		/*HQS*/


.hqs{
	margin: 60px 0px;
}

.hqs h1{
	font-weight: bold;
	font-size: 50px;
}

.hqs p{
	color: #848482;
}

.hqs .hqsp{
	background-color: #f8f8f3;
	padding-bottom: 30px;
}

.hqs .hqsp img{
	max-width: 100%;
	height: auto;
}

.hqs .hqsp h2{
	font-weight: bold;
	font-family: "Poppins";
	font-size: 45px;
	margin: 10px 20px 0px;
}

.hqs .hqsp p{
	margin: 10px 20px;
}

.hqs .hqsp a{
	color: #c89601;
	border-bottom: 1px solid #c89601;
	margin: 0 20px;
	font-family: "Poppins";
	font-weight: bold;
}


		/*BANNER2*/


.banner2{
	background: url(../images/cover5.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	margin: 30px 0px;
}

.banner2 img{
	max-width: 100%;
	height: auto;
}

.banner2 h2{
	font-weight: 800;
	font-size: 38px;
}

.banner2 p{
	font-weight: 800;
	font-size: 20px;
	margin: 40px 0px;
}


		/*BANNER3*/


.banner3{
	margin: 30px 0px;
}		

.banner3 .bg{
	background: url(../images/wcp.png);
	margin: 30px 0px;
	height: 500px;
}

.banner3 .bg .lefttxt{
	margin: 75px 50px 0px 60px;
}

.banner3 .bg .lefttxt h2{
	font-weight: 800;
	border-bottom: 2px solid #848482;
	padding-bottom: 23px;
	margin-bottom: 0px;
}

.banner3 .bg .lefttxt ul{
	margin: 0px;
	padding: 0px;
}

.banner3 .bg .lefttxt ul li{
	display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.banner3 .bg .lefttxt .hding{
	margin-left: 20px;
}

.banner3 .bg .lefttxt .hding h5{
	font-weight: 800;
	font-family: "Poppins";
}

.banner3 .bg .lefttxt .hding p{
	color: #848482;
	font-family: "Poppins";
	font-size: 13px;
}

.banner3 .bg .lefttxt .dt{
	border-bottom: 2px solid #848482;
	padding: 20px 0px;
}

.banner3 .bg .lefttxt .tphd{
	margin-top: 30px;
}

.banner3 .bg .righttxt{
	margin: 75px 0px 0px 10px;
}

.banner3 .bg .righttxt h2{
	font-weight: bold;
	color: white;
	padding-bottom: 40px;
}

.banner3 .bg .righttxt p{
	color: #848482;
	font-family: "Poppins";
	font-size: 13px;
	color: white;
}

.banner3 .bg .righttxt .cont-form{}

.banner3 .bg .righttxt .cont-form ul{
	align-items: center;
	padding-left: 0px
}

.banner3 .bg .righttxt .cont-form ul li{
	display: inline-flex;
	align-items: center;
	padding: 6px 0px;
}

.banner3 .bg .righttxt .cont-form ul li img{
	background-color: white;
	border-radius: 17px;
	padding: 15px;
}

.banner3 .bg .righttxt .cont-form .cont-txt{
	padding-left: 15px;
}

.banner3 .bg .righttxt .cont-form .cont-txt p{
	color: white;
	margin: 0px;
}

.banner3 .bg .righttxt .cont-form .cont-txt h5{
	font-weight: bold;
	margin: 0px;
	color: white;
}


		/*TESTIMONIALS*/


.testimonials{
	margin: 10px 0px;
}

.testimonials h4{
	text-align: center;
	color: blue;
}

.testimonials h1{
	text-align: center;
	font-weight: 800;
	margin-bottom: 500px;
}

.testimonials .crbdr1 img.bgimg{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 580px;
	top: 160px;
}

.testimonials .crbdr2 img.mdimg{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 20px;
	top: 110px;
}

.testimonials .crbdr3 img.img1{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 360px;
	top: 420px;
}

.testimonials .crbdr3 img.img2{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 10px;
	top: 380px;
}

.testimonials .crbdr3 img.img3{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 1180px;
	top: 360px;
}

.testimonials .crbdr3 img.img4{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 1425px;
	top: 425px;
}

.testimonials .crbdr4 img.smimg1{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 1420px;
	top: 115px;
}

.testimonials .crbdr4 img.smimg2{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 1150px;
	top: 150px;
}

.testimonials .crbdr4 img.smimg3{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 450px;
	top: 150px;
}

.testimonials .crbdr4 img.smimg4{
	border: dashed;
	color: #848482;
	border-radius: 360px;
	position: absolute;
	right: 235px;
	top: 300px;
}

.testimonials .btm p{
	text-align: center;
}

.testimonials .btm h3{
	text-align: center;
	font-weight: bold;
}


		/*FOOTERUP*/


.footup{
	background-color: #cccccc;
	padding: 50px 0px;
}

.footup .fotup{
	padding: 20px 60px;
}

.footup .fotup input.im1{
	border-radius: 120px;
    border: none;
    padding: 20px 80px 20px 25px;
    margin-left: 120px;
}

.footup .fotup input.im2{
	border-radius: 120px;
    border: none;
    padding: 20px 80px 20px 25px;
    margin-left: 95px;
}

.footup .fotup input.im3{
	border-radius: 120px;
    border: none;
    padding: 20px 80px 20px 25px;
    margin-left: 60px;
}

.footup .fotup button.btn{
	background-color: blue;
	color: white;
	padding: 20px 55px;
	border: none;
	border-radius: 30px;
}


		/*FOOTER*/


.footerbtm{
	background-color: black;
	padding-bottom: 20px;
}

.footerbtm .footerbkg{
	padding: 80px 160px 0px;
}

.footerbtm .footerbkg h4{
	color: white;
	font-weight: 800;
	padding-bottom: 40px;
}

.footerbtm .footerbkg p{
	color: white;
}

.footerbtm .footerbkg input{
	color: white;
	border-radius: 45px;
	border: none;
	margin-top: 20px;
	padding: 12px 20px;
}

.footerbtm .footerbkg a button i{
	color: white;
}

.footerbtm .footerbkg button{
	background-color: #c89601;
    border: none;
    border-radius: 95px;
    padding: 12px 28px;
    margin-right: 25px;
    position: absolute;
    left: 164px;
    bottom: 0px;
}

.footerbtm .footerbkg .exp{
	padding-left: 75px;
}

.footerbtm .footerbkg .exp p{
	color: white;
}

.footerbtm .footerbkg .exp p a{
	color: white;
}

.footerbtm .footerbkg .cont-form{}

.footerbtm .footerbkg .cont-form ul{
	align-items: center;
	padding: 0px;
	margin: 0px;
}

.footerbtm .footerbkg .cont-form ul li{
	display: inline-flex;
	align-items: center;
	padding: 20px 0px;
}

.footerbtm .footerbkg  .cont-form .cont-txt{
	padding-left: 15px;
}

.footerbtm .footerbkg  .cont-form .cont-txt h5{
	font-weight: bold;
	margin: 0px;
	color: white;
}

.footerbtm .lni{
	margin: 0px;
	padding: 0px;
}

.footerbtm .ln{
	border: 1px solid #848482; 
	margin-top: 75px;
}

.footerbtm .lni .ltln p{
	color: white;
	margin-top: 30px;
	text-align: center;
	margin-left: 460px
}

.footerbtm .lni .ltln span{
	margin-left: 290px;
}